<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
        <add key="DefaultPrinterIp" value="192.168.1.100" />
        <add key="DefaultPrinterPort" value="9100" />
        <add key="DefaultTargetDpi" value="203" />
    </appSettings>
</configuration>
